:root {
    --background-color: #191919;
    --text-color: #faf9f9;
    --highlight-color: #ffbc42;
    --font-family: "Courier New", Courier, monospace;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    font-family: var(--font-family);
    background-color: var(--background-color);
    font-size: 1.125em;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.content-container {
    margin: 0 32px;
}

.main-header {
    position: sticky;
    top: 0;
    padding-top: 24px;
    background-color: var(--background-color);
}

.headline-container h1 {
    font-size: 1.125em;
    margin: 0;
}

.headline-container .tagline {
    margin: 9px 0;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1.5px dashed var(--text-color);

    color: var(--text-color);
    font-family: var(--font-family-default);
    font-size: 1em;

    width: 200px; /* placeholder width -> will be overwritten by js */
    min-width: 200px;
}

input[type="text"]:focus {
    border: none;
    outline-color: var(--text-color);
    outline-style: dashed;
    outline-width: 1.5px;
    outline-offset: 1.5px;
    /* outline-color: cyan; */
}

.username {
    font-weight: bold;
}

.me {
    color: limegreen;
}

.notme {
    color: orangered;
}

#login-container {
    margin-bottom: 24px;
}
